<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/layout.min.css" />
</head>
<body>
    <div>
        Hello, this is an example for dummy.

        @RenderBody()

        @RenderSection("sectiontest", required: false)
    </div>
</body>
</html>
